<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Thank you for signing up to MuVue! 
      <br />
      Thank you for signing up with MuVue. As a MuVue user, you will be able to do the following:
      <ul>
        <li>Like a movie</li>
        <li>Favorite a movie</li>
        <li>View a list of liked movies</li>
        <li>View a list of movies recommended movies similar to those you've liked</li>
        <li>And more ...</li>
      </ul>
    </p>
  </body>
</html>