<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Thank you for signing up to Muvue! 
      <br />
      Your love for Fortnite is undeniable! Congratulations! You are automatically enrolled in a lifetime 
      Fortnite Lovers membership! 
    </p>
  </body>
</html>